<html>
    <head>
        <title>Razor View Engine Demo</title>
    </head>
    <body>
        <h1>Razor helpers</h1>
    
        @Render("Render from page helper")
    
        @CodeHelper.Render("Rendered from App_Code/CodeHelper")
    </body>
</html>

@helper Render(string text)
{
    <p>@text</p>
}